<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="callsite_" value="${callsite:className=false:fileName=false:includeSourcePath=false:methodName=true}"/>
  <variable name="exception_" value="${onexception:${newline}${exception:format=ToString:maxInnerExceptionLevel=2:innerFormat=ToString}}"/>
  <variable name="exception_brief_" value="${onexception: \: ${exception:format=type,message}}"/>
  <variable name="time_" value="${date:format=HH\:mm\:ss\.fff}"/>
  <variable name="level_" value="${pad:padding=5:inner=${level}}"/>
  <variable name="logger_" value="${pad:padding=15:inner=${logger}}"/>
  <variable name="threadid_" value="${pad:padding=3:inner=${threadid}}"/>
  <variable name="layout_" value="${time_} | ${level_} | ${logger_} | ${threadid_} | ${message}"/>
  <targets async="true">
    <target name="file" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log" layout="${layout_}${exception_}"/>
    <target name="file-http" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log" layout="${time_} ${message}"/>
    <target name="console" xsi:type="ColoredConsole" layout="${layout_}${exception_brief_}"/>
  </targets>
  <rules>
    <logger name="LoggingMiddleware" minlevel="Trace" writeTo="file-http" final="true" />
    <logger name="*" minlevel="Trace" writeTo="file,console" />
  </rules>
</nlog>