<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="time_" value="${date:format=HH\:mm\:ss\.fff}"/>
  <variable name="date_" value="${shortdate:universalTime=true}"/>
  <variable name="level_" value="${pad:padding=5:inner=${level}}"/>
  <variable name="threadid_" value="${pad:padding=3:inner=${threadid}}"/>
  <variable name="layout_" value="${time_} ${threadid_} ${level_} | ${message:withException=true} [${logger}]"/>

  <targets async="true">
    <target name="file" xsi:type="File" fileName="${basedir}/logs/${date_}.log" layout="${layout_}"/>
    <target name="console" xsi:type="ColoredConsole" layout="${layout_}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file,console" />
  </rules>

</nlog>